    <div class="text-center"></div>      
      <div class="col-xs-10 col-xs-offset-1">
          <% if @restaurant.errors.full_messages.any? %>
              <% @restaurant.errors.full_messages.each do |error_message| %>
              <ul>
                <div class="alert alert-danger<%="#{error_message}"%>" >
                  </ul>
                        <%= error_message %>          
                  <% end %>
                <% end %>
              </div>
             </div>
            <%= form_for @restaurant, :html => {:multipart => true} do |f| %>
          <div>

      <%=f.hidden_field :name%>
      <%=f.text_field :name, class: "form-control", placeholder:"Restaurant name"%>
      </div>

  <div>
    <%=f.label :description%>
    <%=f.text_area :description, class:"form-control"%>
  </div>

  <div>
   <%=f.label :avatar, "Restaurant Logo"%>
   <%=f.file_field :avatar, class:"form-control-file"%> 
  </div>

  <div>
   <%=f.label :address, "Restaurant Location"%>
   <%=f.text_field :address, class:"form-control"%> 
  </div>

  <div>
   <%=f.label :event_time, "What's the time of the event?"%>
   <%=f.datetime_field :event_time, class:"form-control"%> 
  </div>

  <div>
   <%=f.label :availability, "How many tickets do you have?", placeholder:"mm/dd/yyyy m:h am/pm"%>
   <%=f.number_field :availability, class:"form-control"%> 
   <%=f.submit "Submit", class:"btn btn-primary"%>

  </div>
</div>

<%end%>
