<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <legend><h1 style="color:#51657E;"><%=@restaurant.name%></h1></legend>
          <p><%=default_image%></p>
            <h5>Event Description</h5>
          <p><%=@restaurant.description%></p> 
        </div>
      </div>
   </section>
   <div id="map" style="position: relative; overflow: hidden;">
                                <div style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);">
                                        <div class="gm-err-icon">
                                            <script>
                                                 function initMap() {
                                                    var myLatLng = {lat:<%=@restaurant.latitude%>, lng}; 
                                                    var map = new google.maps.Map(document.getElementById('map'), {
                                                        zoom: 4,
                                                        center: myLatLng
                                                    });
                                                    var marker = new google.maps.Marker({
                                                        position: myLatLng,
                                                        map: map,
                                                      title: 'Hello World!'
                                                    });
                                                }
                                                </script>
                                            <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_api%>&callback=initMap" async defer>                          
                                        </script>
                                    </div>
                               </div>
                         </div>