<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <legend><h1 style="color:grey;"><%=@restaurant.name%></h1></legend>
          <p><%=default_image%></p>
          <h6>Event Time: <%=@restaurant.event_time %></h6>
            <h5>Event Description</h5>
            <div class="border_wrapper" >
          <p><%=@restaurant.description%></p> 
          <label>Likes:<div class="numberCircle text-center"><%=@restaurant.votes.count%></div></label>
          <label>Donations:<div class="numberCircle text-center"><%=@restaurant.donations.count * 5%></div></label>
          </div>
          <%=render "votes/votes_form"%>
          <%=render "donations/donations_form"%>
        </div>
      </div>
   </section>
  <%=render "restaurants/show_map"%>
