<div class="text-center">
   <%all_restaurant%>
   <%num%>

		<label> Credit:</label><h3><%=@donation.collect(&:amount)[0]%></h3>
		<label> Online status:</label><h3 style="text-shadow: 2px 2px; color:#16d97e;" class="blink_me"><%=online%></h3>		
		<label> Number things you have liked:</label><h3><%=@vote.count%></h3>
		<label> Number of likes on your restaurants:</label><h3><%=votes_count%></h3>

		<h1><u>Graph</u></h1>
		<h3>How Active Are You?</h3>
		<%=activity%>
		<h3> Number of restaurants:</h3>

</div>
 <%= pie_chart({"Your Restaurants" => "#{@num.inspect}", "Compared Other Users" => "#{@num_res}"}) %>
